name: Coverage PR reports
on:
  pull_request:

permissions: write-all

jobs:
  coverage_py:
    name: Code Coverage with pytest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip"
      - name: Install dependencies
        run: pip install -r requirements-dev.lock
      - name: run pytest
        run: |
          set -o pipefail
          python -m pytest --junitxml=pytest.xml --cov-report=term-missing --cov=src tests/ | tee pytest-coverage.txt
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@v1.1.47
        with:
          pytest-coverage-path: ./pytest-coverage.txt
          junitxml-path: ./pytest.xml

  coverage_rs:
    name: Code Coverage with grcov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: llvm-tools-preview

      - name: Install Python development files
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-dev

      - name: Install grcov
        run: cargo install grcov

      - name: Set up Python environment variables
        run: |
          echo "PYTHON_INCLUDE_DIR=$(python3 -c 'from sysconfig import get_paths as gp; print(gp()[\"include\"])')" >> $GITHUB_ENV
          echo "PYTHON_LIB_DIR=$(python3 -c 'from sysconfig import get_paths as gp; print(gp()[\"stdlib\"])')" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=${{ env.PYTHON_LIB_DIR }}:$LD_LIBRARY_PATH" >> $GITHUB_ENV

      - name: Build with coverage
        env:
          RUSTFLAGS: "-C instrument-coverage -L${{ env.PYTHON_LIB_DIR }} -I${{ env.PYTHON_INCLUDE_DIR }} -C link-arg=-Wl,-rpath,${{ env.PYTHON_LIB_DIR }}"
        run: cargo build

      - name: Run tests with coverage
        env:
          LLVM_PROFILE_FILE: "your-project-name.profraw"
          CARGO_INCREMENTAL: 0
        run: cargo test --no-default-features

      - name: Generate coverage report
        run: |
          grcov . --binary-path ./target/debug/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./lcov.info

      - name: Post coverage comment
        uses: romeovs/lcov-reporter-action@v0.3.1
        with:
          lcov-file: lcov.info
          github-token: ${{ secrets.GITHUB_TOKEN }}
